# See https://docs.docker.com/compose/compose-file/
services:
  frontend:
    build: .
    hostname: frontend
    container_name: hans-frontend-web
    extends:
      file: ../common/docker-compose.yaml
      service: base-template
    expose:
      - ${HANS_FRONTEND_API_PORT:-5001}:${HANS_FRONTEND_API_PORT:-5001}
    ports:
      - ${HANS_FRONTEND_PORT:-80}:${HANS_FRONTEND_PORT:-80}
      - ${HANS_FRONTEND_SSL_PORT:-443}:${HANS_FRONTEND_SSL_PORT:-443}
    restart: always
    networks:
      - frontend-tier
    # Only needed if ml-backend is hosted on same system as frontend and backend
    extra_hosts:
      - "${DOCKER_HOST_GATEWAY_IP:-host.docker.internal}:host-gateway"

networks:
  frontend-tier:
    name: ${HANS_FB_NETWORK_NAME}
    external: true
