x-hans-common: &hans-common
  environment: &hans-common-env # BACKEND
    - HANS_BACKEND_HOST=${HANS_BACKEND_HOST}
    - HANS_BACKEND_PORT=${HANS_BACKEND_PORT}
    - HANS_BACKEND_PROTOCOL=${HANS_BACKEND_PROTOCOL}
    - HANS_BACKEND_HOST_URL=${HANS_BACKEND_HOST_URL}
    - HANS_BACKEND_CONNID=${HANS_BACKEND_CONNID}
    # FRONTEND
    - HANS_FRONTEND_HOST=${HANS_FRONTEND_HOST}
    - HANS_FRONTEND_PORT=${HANS_FRONTEND_PORT}
    - HANS_FRONTEND_PROTOCOL=${HANS_FRONTEND_PROTOCOL}
    - HANS_FRONTEND_HOST_URL=${HANS_FRONTEND_HOST_URL}
    - HANS_FRONTEND_SSL_PORT=${HANS_FRONTEND_SSL_PORT}
    - HANS_FRONTEND_CONNID=${HANS_FRONTEND_CONNID}
    - HANS_FRONTEND_API_PORT=${HANS_FRONTEND_API_PORT}
    - HANS_FRONTEND_API_HOST=${HANS_FRONTEND_API_HOST}
    - HANS_FRONTEND_API_PRODUCTION_MODE=${HANS_FRONTEND_API_PRODUCTION_MODE}
    # ML-BACKEND
    - HANS_ML_BACKEND_AIRFLOW_HOST=${HANS_ML_BACKEND_AIRFLOW_HOST}
    - HANS_ML_BACKEND_AIRFLOW_PORT=${HANS_ML_BACKEND_AIRFLOW_PORT}
    - HANS_ML_BACKEND_AIRFLOW_POSTFIX=${HANS_ML_BACKEND_AIRFLOW_POSTFIX}
    - HANS_ML_BACKEND_AIRFLOW_ROOT_USER=${HANS_ML_BACKEND_AIRFLOW_ROOT_USER}
    - HANS_ML_BACKEND_AIRFLOW_ROOT_PASSWORD=${HANS_ML_BACKEND_AIRFLOW_ROOT_PASSWORD}
    # ASSETDB
    - HANS_BACKEND_ASSETDB_HOST=${HANS_BACKEND_ASSETDB_HOST:-assetdb}
    - HANS_BACKEND_ASSETDB_PORT=${HANS_BACKEND_ASSETDB_PORT:-9001}
    - HANS_BACKEND_ASSETDB_ROOT_USER=${HANS_BACKEND_ASSETDB_ROOT_USER:-minio}
    - HANS_BACKEND_ASSETDB_ROOT_PASSWORD=${HANS_BACKEND_ASSETDB_ROOT_PASSWORD:-minio123}
    # MEDIADB
    - HANS_BACKEND_MEDIADB_HOST=${HANS_BACKEND_MEDIADB_HOST:-mediadb}
    - HANS_BACKEND_MEDIADB_PORT=${HANS_BACKEND_MEDIADB_PORT:-9000}
    - HANS_BACKEND_MEDIADB_ROOT_USER=${HANS_BACKEND_MEDIADB_ROOT_USER:-minio}
    - HANS_BACKEND_MEDIADB_ROOT_PASSWORD=${HANS_BACKEND_MEDIADB_ROOT_PASSWORD:-minio123}
    # METADB
    - HANS_BACKEND_METADB_HOST=${HANS_BACKEND_METADB_HOST:-metadb}
    - HANS_BACKEND_METADB_PORT=${HANS_BACKEND_METADB_PORT:-27017}
    - HANS_BACKEND_METADB_ROOT_USER=${HANS_BACKEND_METADB_ROOT_USER:-root}
    - HANS_BACKEND_METADB_ROOT_PASSWORD=${HANS_BACKEND_METADB_ROOT_PASSWORD:-password}
    - HANS_BACKEND_METADB_DATABASE=${HANS_BACKEND_METADB_DATABASE:-meta}
    # OPENSEARCH
    - HANS_BACKEND_OPENSEARCH_HOST=${HANS_BACKEND_OPENSEARCH_HOST:-searchengine}
    - HANS_BACKEND_OPENSEARCH_PORT=${HANS_BACKEND_OPENSEARCH_PORT:-9200}
    - HANS_BACKEND_OPENSEARCH_ROOT_USER=${HANS_BACKEND_OPENSEARCH_ROOT_USER:-admin}
    - HANS_BACKEND_OPENSEARCH_ROOT_PASSWORD=${HANS_BACKEND_OPENSEARCH_ROOT_PASSWORD:-admin}
    - HANS_BACKEND_OPENSEARCH_STANDARD_INDEX=${HANS_BACKEND_OPENSEARCH_STANDARD_INDEX:-lecture_result_index_multilang_v01}
    - HANS_BACKEND_OPENSEARCH_VECTOR_INDEX=${HANS_BACKEND_OPENSEARCH_VECTOR_INDEX:-lecture_result_vector_index_v01}
    - HANS_BACKEND_OPENSEARCH_SLIDES_VECTOR_INDEX=${HANS_BACKEND_OPENSEARCH_SLIDES_VECTOR_INDEX:-lecture_slides_result_vector_index_v01}
    - HANS_BACKEND_OPENSEARCH_SUMMARIES_VECTOR_INDEX=${HANS_BACKEND_OPENSEARCH_SUMMARIES_VECTOR_INDEX:-lecture_summaries_result_vector_index_v01}
    - HANS_BACKEND_OPENSEARCH_DOCUMENTS_VECTOR_INDEX=${HANS_BACKEND_OPENSEARCH_DOCUMENTS_VECTOR_INDEX:-course_documents_result_vector_index_v01}
    # NEEDED BY EMBEDDING SERVICE
    - HANS_BACKEND_OPENSEARCH_VECTOR_SIZE=${HANS_BACKEND_OPENSEARCH_VECTOR_SIZE:-1024}
    # ML-SERVICES LLM
    - HANS_ML_SERVICE_LLM_HOST=${HANS_ML_SERVICE_LLM_HOST:-host.docker.internal}
    - HANS_ML_SERVICE_LLM_PORT=${HANS_ML_SERVICE_LLM_PORT:-8093}
    - HANS_ML_SERVICE_LLM_USER=${HANS_ML_SERVICE_LLM_USER:-admin}
    - HANS_ML_SERVICE_LLM_PASSWORD=${HANS_ML_SERVICE_LLM_PASSWORD:-EMPTY}
    - HANS_ML_SERVICE_LLM_MODEL_ID=${HANS_ML_SERVICE_LLM_MODEL_ID:-mistralai/Mixtral-8x7B-Instruct-v0.1}
    # ML-SERVICES VLLM
    - HANS_ML_SERVICE_VLLM_HOST=${HANS_ML_SERVICE_VLLM_HOST:-host.docker.internal}
    - HANS_ML_SERVICE_VLLM_PORT=${HANS_ML_SERVICE_VLLM_PORT:-8093}
    - HANS_ML_SERVICE_VLLM_USER=${HANS_ML_SERVICE_VLLM_USER:-admin}
    - HANS_ML_SERVICE_VLLM_PASSWORD=${HANS_ML_SERVICE_VLLM_PASSWORD:-EMPTY}
    - HANS_ML_SERVICE_VLLM_MODEL_ID=${HANS_ML_SERVICE_VLLM_MODEL_ID:-mistralai/Pixtral-12B-2409}
    # ML-SERVICES LLM REASONING
    - HANS_ML_SERVICE_LLM_REASONING_HOST=${HANS_ML_SERVICE_LLM_REASONING_HOST:-host.docker.internal}
    - HANS_ML_SERVICE_LLM_REASONING_PORT=${HANS_ML_SERVICE_LLM_REASONING_PORT:-8090}
    - HANS_ML_SERVICE_LLM_REASONING_USER=${HANS_ML_SERVICE_LLM_REASONING_USER:-admin}
    - HANS_ML_SERVICE_LLM_REASONING_PASSWORD=${HANS_ML_SERVICE_LLM_REASONING_PASSWORD:-EMPTY}
    - HANS_ML_SERVICE_LLM_REASONING_MODEL_ID=${HANS_ML_SERVICE_LLM_REASONING_MODEL_ID:-NousResearch/DeepHermes-3-Mistral-24B-Preview}
    # ML-SERVICES EMBEDDING
    - HANS_ML_SERVICE_EMBEDDING_HOST=${HANS_ML_SERVICE_EMBEDDING_HOST:-host.docker.internal}
    - HANS_ML_SERVICE_EMBEDDING_PORT=${HANS_ML_SERVICE_EMBEDDING_PORT:-8094}
    - HANS_ML_SERVICE_EMBEDDING_USER=${HANS_ML_SERVICE_EMBEDDING_USER:-admin}
    - HANS_ML_SERVICE_EMBEDDING_PASSWORD=${HANS_ML_SERVICE_EMBEDDING_PASSWORD:-EMPTY}
    - HANS_ML_SERVICE_EMBEDDING_MODEL_ID=${HANS_ML_SERVICE_EMBEDDING_MODEL_ID:-mixedbread-ai/deepset-mxbai-embed-de-large-v1}
    # ML-SERVICES TOPIC SEGMENTATION
    - HANS_ML_SERVICE_TOPIC_SEGMENTATION_HOST=${HANS_ML_SERVICE_TOPIC_SEGMENTATION_HOST:-host.docker.internal}
    - HANS_ML_SERVICE_TOPIC_SEGMENTATION_PORT=${HANS_ML_SERVICE_TOPIC_SEGMENTATION_PORT:-8095}
    - HANS_ML_SERVICE_TOPIC_SEGMENTATION_USER=${HANS_ML_SERVICE_TOPIC_SEGMENTATION_USER:-admin}
    - HANS_ML_SERVICE_TOPIC_SEGMENTATION_PASSWORD=${HANS_ML_SERVICE_TOPIC_SEGMENTATION_PASSWORD:-EMPTY}
    - HANS_ML_SERVICE_TOPIC_SEGMENTATION_MODEL_ID=${HANS_ML_SERVICE_TOPIC_SEGMENTATION_MODEL_ID:-none}
    # ML-SERVICES TRANSLATION
    - HANS_ML_SERVICE_TRANSLATION_HOST=${HANS_ML_SERVICE_TRANSLATION_HOST:-host.docker.internal}
    - HANS_ML_SERVICE_TRANSLATION_PORT=${HANS_ML_SERVICE_TRANSLATION_PORT:-8098}
    - HANS_ML_SERVICE_TRANSLATION_USER=${HANS_ML_SERVICE_TRANSLATION_USER:-admin}
    - HANS_ML_SERVICE_TRANSLATION_PASSWORD=${HANS_ML_SERVICE_TRANSLATION_PASSWORD:-EMPTY}
    - HANS_ML_SERVICE_TRANSLATION_MODEL_ID=${HANS_ML_SERVICE_TRANSLATION_MODEL_ID:-google/madlad400-7b-mt}
    # ML-SERVICES TRANSCRIPTION
    - HANS_ML_SERVICE_TRANSCRIPTION_HOST=${HANS_ML_SERVICE_TRANSCRIPTION_HOST:-host.docker.internal}
    - HANS_ML_SERVICE_TRANSCRIPTION_PORT=${HANS_ML_SERVICE_TRANSCRIPTION_PORT:-8099}
    - HANS_ML_SERVICE_TRANSCRIPTION_USER=${HANS_ML_SERVICE_TRANSCRIPTION_USER:-admin}
    - HANS_ML_SERVICE_TRANSCRIPTION_PASSWORD=${HANS_ML_SERVICE_TRANSCRIPTION_PASSWORD:-EMPTY}
    - HANS_ML_SERVICE_TRANSCRIPTION_MODEL_ID=${HANS_ML_SERVICE_TRANSCRIPTION_MODEL_ID:-large-v3-low-vram}
    # ML-SERVICES ORCHESTRATOR
    - HANS_ML_SERVICE_ORCHESTRATOR_LLM=${HANS_ML_SERVICE_ORCHESTRATOR_LLM:-False}
    - HANS_ML_SERVICE_ORCHESTRATOR_VLLM=${HANS_ML_SERVICE_ORCHESTRATOR_VLLM:-False}
    - HANS_ML_SERVICE_ORCHESTRATOR_RLLM=${HANS_ML_SERVICE_ORCHESTRATOR_RLLM:-False}
    - HANS_ML_SERVICE_ORCHESTRATOR_TRANSLATION=${HANS_ML_SERVICE_ORCHESTRATOR_TRANSLATION:-False}
    - HANS_ML_SERVICE_ORCHESTRATOR_EMBEDDING=${HANS_ML_SERVICE_ORCHESTRATOR_EMBEDDING:-False}
    - HANS_ML_SERVICE_ORCHESTRATOR_TOPIC_SEGMENTATION=${HANS_ML_SERVICE_ORCHESTRATOR_TOPIC_SEGMENTATION:-False}
    - HANS_ML_SERVICE_ORCHESTRATOR_TRANSCRIPTION=${HANS_ML_SERVICE_ORCHESTRATOR_TRANSCRIPTION:-False}
    - HANS_ML_SERVICE_ORCHESTRATOR_HOST=${HANS_ML_SERVICE_ORCHESTRATOR_HOST:-host.docker.internal}
    - HANS_ML_SERVICE_ORCHESTRATOR_PORT=${HANS_ML_SERVICE_ORCHESTRATOR_PORT:-8035}
    - HANS_ML_SERVICE_ORCHESTRATOR_USER=${HANS_ML_SERVICE_ORCHESTRATOR_USER:-admin}
    - HANS_ML_SERVICE_ORCHESTRATOR_PASSWORD=${HANS_ML_SERVICE_ORCHESTRATOR_PASSWORD:-admin}
    - HANS_ML_SERVICE_ORCHESTRATOR_LLM_ROUTE=${HANS_ML_SERVICE_ORCHESTRATOR_LLM_ROUTE:-llm_service}
    - HANS_ML_SERVICE_ORCHESTRATOR_VLLM_ROUTE=${HANS_ML_SERVICE_ORCHESTRATOR_VLLM_ROUTE:-vllm_service}
    - HANS_ML_SERVICE_ORCHESTRATOR_RLLM_ROUTE=${HANS_ML_SERVICE_ORCHESTRATOR_RLLM_ROUTE:-rllm_service}
    - HANS_ML_SERVICE_ORCHESTRATOR_TRANSLATION_ROUTE=${HANS_ML_SERVICE_ORCHESTRATOR_TRANSLATION_ROUTE:-translation_service}
    - HANS_ML_SERVICE_ORCHESTRATOR_EMBEDDING_ROUTE=${HANS_ML_SERVICE_ORCHESTRATOR_EMBEDDING_ROUTE:-embedding_service}
    - HANS_ML_SERVICE_ORCHESTRATOR_TOPIC_SEGMENTATION_ROUTE=${HANS_ML_SERVICE_ORCHESTRATOR_TOPIC_SEGMENTATION_ROUTE:-ts_service}
    - HANS_ML_SERVICE_ORCHESTRATOR_TRANSCRIPTION_ROUTE=${HANS_ML_SERVICE_ORCHESTRATOR_TRANSCRIPTION_ROUTE:-tra_service}
  volumes:
    - ../common/modules:/opt/hans-modules

services:
  base-template:
    <<: *hans-common
    build: .
